registry=https://registry.npmjs.org/
electron_mirror=https://registry.npmmirror.com/-/binary/electron/
electron_builder_binaries_mirror=https://registry.npmmirror.com/-/binary/electron-builder-binaries/
enable-pre-post-scripts=true
side_effects_cache=false
